.container {
  background: #360033;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #0b8793, #360033);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #0b8793, #360033); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.loginForm {
  width: 400px;
  height: 470px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0);
  border-radius: 20px;
  z-index: 4;
}
/* On screens that are 992px or less, set the background color to blue */
/* @media screen and (max-width: 992px) {
  body {
    background-color: blue;
  }
} */

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 500px) {
  .loginForm {
    width: 300px;
    height: 470px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 20px;
    z-index: 4;
  }
}
.blueCircle {
  width: 200px;
  height: 200px;
  border-radius: 150px;
  background-color: orangered;
  background-image: radial-gradient(
      circle 400px at 0 0,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.8)
    ),
    radial-gradient(
      circle 180px at 90px 80px,
      rgba(255, 255, 255, 0.9),
      rgba(0, 0, 0, 0)
    );
  background-repeat: no-repeat, no-repeat;
  position: absolute;
  top: -40px;
  left: -90px;
  border: 0px;
  z-index: -4;
}
.blueCircle:after {
  content: "";
  z-index: -1;
  top: 220px;
  left: 150px;
  position: absolute;
  background-color: black;
  border-radius: 280px 60px;
  width: 150px;
  height: 80px;
  box-shadow: 1px 0 1px black;
  opacity: 0.8;
}
.yellowCircle {
  position: absolute;
  top: 340px;
  left: 350px;
  width: 200px;
  height: 200px;
  border-radius: 90%;
  z-index: -20;
  background: radial-gradient(
    circle at 65% 15%,
    white 1px,
    aqua 3%,
    darkblue 60%,
    aqua 100%
  );
}

.loginFormContainer {
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.7);

  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  direction: rtl;
}
.btn {
  font-family: BYekan;
  font-size: 1rem;
  border-radius: 24px;
}
.ball {
  width: 40%;
  height: 40%;
  border-radius: 100%;
  position: absolute;
  top: -100px;
  left: -200px;
  z-index: -400000;
  background: radial-gradient(
    circle at bottom,
    #81e8f6,
    #76deef 10%,
    #055194 80%,
    #062745 100%
  );
}
.ball:before {
  content: "";
  position: absolute;
  top: 1%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 100%;
  background: radial-gradient(circle at top, white, rgba(255, 255, 255, 0) 58%);
  -webkit-filter: blur(5px);
  filter: blur(5px);
  z-index: 2;
}
.ball:after {
  content: "";
  position: absolute;
  display: none;
  top: 5%;
  left: 10%;
  width: 80%;
  height: 80%;
  border-radius: 100%;
  -webkit-filter: blur(1px);
  filter: blur(1px);
  z-index: -40000;
  -webkit-transform: rotateZ(-30deg);
  transform: rotateZ(-30deg);
}
.ball .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.1) 40%,
    rgba(0, 0, 0, 0) 50%
  );
  -webkit-transform: rotateX(90deg) translateZ(-160px);
  transform: rotateX(90deg) translateZ(-160px);
  z-index: -40000;
}
.ball.plain {
  background: black;
}
.ball.plain:before,
.ball.plain:after {
  display: none;
}
.ball.bubble {
  background: radial-gradient(
    circle at 50% 55%,
    rgba(240, 245, 255, 0.9),
    rgba(240, 245, 255, 0.9) 40%,
    rgba(225, 238, 255, 0.8) 60%,
    rgba(43, 130, 255, 0.4)
  );
  -webkit-animation: bubble-anim 2s ease-out infinite;
  animation: bubble-anim 2s ease-out infinite;
}
.ball.bubble:before {
  -webkit-filter: blur(0);
  filter: blur(0);
  height: 80%;
  width: 40%;
  background: radial-gradient(
    circle at 130% 130%,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0) 46%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0.8) 58%,
    rgba(255, 255, 255, 0) 60%,
    rgba(255, 255, 255, 0) 100%
  );
  -webkit-transform: translateX(131%) translateY(58%) rotateZ(168deg)
    rotateX(10deg);
  transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
}
.ball.bubble:after {
  display: block;
  background: radial-gradient(
    circle at 50% 80%,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0) 74%,
    white 80%,
    white 84%,
    rgba(255, 255, 255, 0) 100%
  );
}

.stage {
  width: 300px;
  height: 300px;
  display: inline-block;
  margin: 20px;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}


@-webkit-keyframes bubble-anim {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  20% {
    -webkit-transform: scaleY(0.99) scaleX(1.01);
    transform: scaleY(0.99) scaleX(1.01);
  }

  48% {
    -webkit-transform: scaleY(1.02) scaleX(0.99);
    transform: scaleY(1.02) scaleX(0.99);
  }

  68% {
    -webkit-transform: scaleY(0.98) scaleX(1.02);
    transform: scaleY(0.98) scaleX(1.02);
  }

  80% {
    -webkit-transform: scaleY(1.02) scaleX(0.98);
    transform: scaleY(1.02) scaleX(0.98);
  }

  97%,
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes bubble-anim {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  20% {
    -webkit-transform: scaleY(0.95) scaleX(1.05);
    transform: scaleY(0.95) scaleX(1.05);
  }

  48% {
    -webkit-transform: scaleY(1.01) scaleX(0.99);
    transform: scaleY(1.01) scaleX(0.99);
  }

  68% {
    -webkit-transform: scaleY(0.98) scaleX(1.02);
    transform: scaleY(0.98) scaleX(1.02);
  }

  80% {
    -webkit-transform: scaleY(1.02) scaleX(0.98);
    transform: scaleY(1.02) scaleX(0.98);
  }

  97%,
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.tag{
  position: absolute;
  top: -90px;
  left: -200px;
  width: 300px;
  height: 600px;
  border-radius: 100%;
}
